/* #################################### Global */

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #333;
}

.container-btns {
  max-width: 500px;
  width: 100%;
  height: auto;
  padding: 5rem;
  margin: 1rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-btns:nth-child(1) {
  background: rgb(242, 146, 224);
}

.container-btns:nth-child(2) {
  background: rgb(146, 146, 242);
}

.container-btns:nth-child(3) {
  background: rgb(134, 74, 66);
}

.container-btns:nth-child(4) {
  background: #000;
}


.btn {
  width: 150px;
  height: 50px;
  outline: none;
  border: none;
  font-weight: 700;
  font-size: 18px;
  color: #f1f1f1;
  cursor: pointer;
}


/* debut exercice */

/* #################################### Bouton 1 */

.btn1 {
  background: none;
  position: relative;
  overflow: hidden;
  z-index: 2;
}

.btn1::before {
  content: "Bouton 1";
  display: block;
  width: 100%;
  height: 100%;
  line-height: 50px;
  position: absolute;
  background: rgb(1769, 12, 93);
  top: 0;
  left: -149px;
  z-index: 1;
  border-right: 1px solid rgb(169,12,93);
}
.btn1::after {
  content: "Bouton 1";
  display: block;
  width: 100%;
  height: 100%;
  line-height: 50px;
  color: rgb(169, 12, 93);
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  border-right: 1px solid rgb(169,12,93);
}

.btn1:hover.btn1::before {
  animation: btn1-before 0.3s ease-in-out forwards 0.3s;
}

@keyframes btn1-before {
  from {
    left: -150px;
  }
  to {
    left: 0px;
  }
}

.btn1:hover.btn1::after {
  animation: btn1-after 0.3s ease-in-out forwards;
}

@keyframes btn1-after {
  from {
    right: 0;
  }
  to {
    right: 250px;
  }
}

/* #################################### Bouton 2 */

.btn2 {
  background: none;
  position: relative;
  overflow: hidden;
  z-index: 2;
}
.btn2::before {
  content: "Bouton 2";
  display: block;
  width: 100%;
  height: 100%;
  color: rgb(97,74,219);
  line-height: 50px;
  text-align: center;
  position: absolute;
  top: 49px;
  right: 0;
  z-index: 1;
  border-top: 1px solid rgb(13, 3, 84);
  border-bottom: 1px solid rgb(97, 74, 219);
}
.btn2::after {
  content: "Bouton 2";
  display: block;
  width: 100%;
  height: 100%;
  color: rgb(13,3,84);
  line-height: 50px;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  border-top: 1px solid rgb(13,3,84);
}

.btn2:hover.btn2::before {
  animation: btn2-before 0.3s ease-in-out forwards 0.3s;
}

@keyframes btn2-before {
  from {
    border-top: 1px solid rgb(13,3,84);
    top: 50px;
  }
  to {
    border-top: 1px solid rgb(91,74,219);
    top: 0px;
  }
}

.btn2:hover::after {
  animation: btn2-after 0.3s alternate ease-in-out forwards;
}

@keyframes btn2-after {
  from {
    top: 0px;
  }
  to {
    top: 50px;
  }
}

/* #################################### Bouton 3 */

.btn3 {
  border-radius: 15px;
  background: salmon;
  position: relative;
  overflow: hidden;
}

.btn3::after {
  content: "";
  display: block;
  width: 100%;
  height: 7px;
  background: rgb(255,255,255,0.2);
  transform: rotate(130deg);
  position: absolute;
  top: 1rem;
  left: 150px;
}
.btn3::before{
  content: "";
  display: block;
  width: 100%;
  height: 10px;
  background: rgb(255,255,255,0.2);
  transform: rotate(130deg);
  position: absolute;
  top: 1rem;
  left: 180px;
}

.btn3:hover {
  background: rgb(253,171,162);
}
.btn3:hover.btn3::after {
  animation: btn3 0.5s ease-in-out;
}
.btn3:hover.btn3::before {
  animation: btn3-2 0.5s ease-in-out;
}

@keyframes btn3 {
  from {
    left: 150px;
  }
  to {
    left: -120px;
  }
}
@keyframes btn3-2 {
  from {
    left: 180px;
  }
  to {
    left: -90px;
  }
}

/* #################################### Bouton 4 */

.btn-4 {
  outline: none;
  border: none;
  font-size: 18px;
  font-weight: 700;
  width: 200px;
  height: 50px;
  border-radius: 50px;
  background: #333;
  color: #f1f1f1;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  box-shadow: 0 0 5px 0 rgb(255,204,0),
              0 0 10px 0 rgb(255,233,143);
}


.btn-4 p {
  line-height: 15px;
  transition: transform 1s ease-in-out,
              opacity 1s ease-in-out;
}

.btn-4 span {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 9999px;
  background: orange;
  line-height: 40px;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  text-align: right;
  padding-right: 1rem;
  box-shadow: 0 0 2px 0 rgb(255, 204, 0),
              0 0 5px 0 rgb(255, 233, 143);
  transition: width 1s ease-in-out,
              transform 1s ease-in-out;
}

.btn-4 span::after {
  content: "Lets go";
  display: block;
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -8rem;
  text-align: center;
  opacity: 0;
  transition: opacity 1s ease-in-out 0.5s,
              left 1s ease-in-out;
}

.btn-4:hover span {
  width: 180px;
  box-shadow: inset 0 0 8px rgba(0,0,0,0.8);
}

.btn-4:hover span::after {
  opacity: 1;
  left: 1rem;
}

.btn-4:hover p {
  transform: translateX(-150px);
  opacity: 0;
}