.cont {
  height: 600px;
  background: salmon;

  display: grid;
  grid-template-rows: repeat(2, 150px);
  grid-template-columns: repeat(3, 150px);
  grid-gap: 10px;
  /* alignement dans la cellule */
  /* alignement sur x */
  justify-items: center;
  justify-items: end;
  justify-items: start;
  justify-items: left;
  justify-items: right;
  /* justify-items:stretch; */

  /* alignement sur y */
  align-items: center;
  align-items: stretch;
  align-items: flex-end;
  align-items: flex-start;

  /* place-item =  propriété raccourcis */

  /* align-item / justify-item */
  place-items: center;
  place-items: center start;
  place-items: center stretch;
  place-items: end center;


}



.box1 {
  background: violet;
}

.box2 {
  background: red;
}

.box3 {
  background: blue;
}

.box4 {
  background: brown;
}

.box5 {
  background: pink;
}

.box6 {
  background: orange;
}